<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body { font-family: Helvetica;}
        div { 
            padding: 25px;
            background-color: aliceblue;
            margin: 35px;
            }
            a {
                color: darkblue;
            text-decoration: none;
            }
    </style>
</head>
<body>
    <div>

        <form method="POST" action="/recipes">
            <label for="name">Name</label>
            <input type="text" name="name">
            <br>
            <label for="ingredients">Ingredients</label>
            <textarea type="text" name="ingredients"></textarea>
            <br>
            <label for="cook_time">Cook Time</label>
            <input type="text" name="cook_time">
            <br>
            <input type="submit" value="submit">
        </form>
    </div>   
</body>
</html>